<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-custompickerview"
    version="1.0.0">
    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>
    
    <name>customPickerView</name>
    <description>customPickerView</description>
    
    <js-module src="www/customPickerView.js" name="pickerViewModel">
        <clobbers target="pickerViewModel" />
    </js-module>
    
    <platform name="ios">
        <source-file src="src/ios/ZJCustomPickerViewPlugin.m" />
        <header-file src="src/ios/ZJCustomPickerViewPlugin.h" />
        <framework src="src/ios/CoreActionSheetPicker.framework" custom="true" framework="true"/>
        <config-file target="config.xml" parent="/widget">
            
            <feature name="customPickerView">
                <param name="ios-package" value="ZJCustomPickerViewPlugin" />
            </feature>
        </config-file>
    </platform>
	<platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="customPickerView">
                <param name="android-package" value="com.bjzjns.cordovaplugin.customPickerView" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/layout_multi_wheel_picker.xml" target-dir="res/layout" />
        <source-file src="src/android/customPickerView.java"
            target-dir="src/com/bjzjns/cordovaplugin" />
        <source-file src="src/android/MultiWheelPickerManager.java"
            target-dir="src/com/bjzjns/cordovaplugin" />
        <source-file src="src/android/MultiWheelPickerModel.java"
            target-dir="src/com/bjzjns/cordovaplugin" />
        <source-file src="src/android/WheelPickerModel.java"
            target-dir="src/com/bjzjns/cordovaplugin" />
        <framework src="cn.aigestudio.wheelpicker:WheelPicker:1.1.2" />
        <framework src="com.google.code.gson:gson:2.8.0" />
    </platform>
</plugin>
